
@keyframes inicio_container{
    from {transform: translateY(100px); opacity: 0.0;}
    to {transform: translateY(0px); opacity: 1;}
}

@keyframes inicio__header{
    from {opacity: 0.0;}
    to {opacity: 1;}
}

@keyframes nav {
    from {transform: translateX(100px);}
    to {transform: translateX(0px);}
}